  body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
h1 {
    text-align: center;
}
nav {
    display: flex;
    flex-direction: row;
  justify-content: space-between;
    
}

.content {
  display: flex;
  flex-direction: ;
}

span {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* .navTitle {
  float: left;
}
.navBarDiv {
  float:right;
}
.content{
  display: flex;
} */

img {
  max-width: 100%;
  height:10em;
}

aside{
  width: 30%;
  border: 1px solid red;
  padding: 5px;
}

.highlightFish{
  background-color: rgb(230, 173, 218);
}

.highlightTips {
  background-color: lightgreen;
}

.tip:hover { 
  background-color: mediumslateblue;
  border:1px solid blue;
}

.locations__card:hover {
  background-color: mediumturquoise;
}

.fishList {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fish {
  flex-basis: 16%;  /* Make each child element the same width */
  border: 1px dotted crimson;
  padding: 1em;
  margin: 0.5em;

}
